<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/0833571da7.js"></script>
    <link rel="stylesheet" href="css/user.css" />
    <title>User</title>
  </head>
  <body>
    <div id="nav-bar">
      <h1 class="logo">GameList</h1>
    </div>
    <div class="header">
      <h1>Welcome to GameList</h1>
      <p>Feel free to browse all the games available on our database.</p>
    </div>
    <div id="add-remove">
      <div class="add">
        <a class="btn btn-lg" href="/">Home</a>
      </div>
    </div>
    <!-- Games Grid  -->
    <div id="games-grid-container">
      <div class="games-grid-col">
        <p>Red Dead Redemption 2</p>
        <img
          class="game-cover"
          src="img/game_covers/Red_Dead_Redemption_II.jpg"
          alt="Red Dead Redemption 2"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Fallout 4</p>
        <img
          class="game-cover"
          src="img/game_covers/Fallout_4_cover_art.jpg"
          alt="Fallout 4"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>God of War</p>
        <img
          class="game-cover"
          src="img/game_covers/God_of_War_4_cover.jpg"
          alt="God of War"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
      </div>
      <div class="games-grid-col">
        <p>Final Fantasy XV</p>
        <img
          class="game-cover"
          src="img/game_covers/FF_XV_cover_art.jpg"
          alt="FFXV"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Bloodborne</p>
        <img
          class="game-cover"
          src="img/game_covers/Bloodborne_Cover_Wallpaper.jpg"
          alt="Bloodborne"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
      </div>
      <div class="games-grid-col">
        <p>Resident Evil 7</p>
        <img
          class="game-cover"
          src="img/game_covers/Resident_Evil_7_cover_art.jpg"
          alt="Resident Evil 7"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Dark Souls 3</p>
        <img
          class="game-cover"
          src="img/game_covers/Dark_souls_3_cover_art.jpg"
          alt="Dark Souls 3"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Metal Gear Solid V</p>
        <img
          class="game-cover"
          src="img/game_covers/Metal_Gear_Solid_V_The_Phantom_Pain_cover.png"
          alt="Metal Gear Solid V"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Halo 5</p>
        <img
          class="game-cover"
          src="img/game_covers/Halo_Guardians.png"
          alt="Halo 5"
        />
        <br />
        <i class="fab fa-xbox icon xbox"></i>
      </div>
      <div class="games-grid-col">
        <p>Witcher 3</p>
        <img
          class="game-cover"
          src="img/game_covers/Witcher_3_cover_art.jpg"
          alt="Witcher 3"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Sekiro</p>
        <img
          class="game-cover"
          src="img/game_covers/Sekiro_art.jpg"
          alt="Sekiro"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
      <div class="games-grid-col">
        <p>Devil May Cry 5</p>
        <img
          class="game-cover"
          src="img/game_covers/Devil_May_Cry_5.jpg"
          alt="Devil May Cry 5"
        />
        <br />
        <i class="fab fa-playstation icon playstation"></i>
        <i class="fab fa-xbox icon xbox"></i>
        <i class="fas fa-laptop icon pc"></i>
      </div>
    </div>
  </body>
</html>
